<div class="mini-footer">
  <div class="row">
    <div class="medium-3 large-4 column">
      <a rel="license" class="cc-badge" 
         href="http://creativecommons.org/licenses/by-sa/4.0/" 
         target="_blank" rel="noopener">
        <%= image_tag("decidim/cc-badge.png", alt: "Creative Commons License" ) %>
      </a>
      <%= t("layouts.decidim.footer.made_with_open_source").html_safe %>
    </div>
  <div class="medium-3 large-4 column">
      <div class="alabs-logo">
        <p style="text-align:center">Con el soporte de 
        <a rel="alabs" 
           href="https://alabs.org/" 
           target="_blank" rel="noopener">
        <%= image_tag("https://www.alabs.org/assets/images/logo-invert.svg", alt: "aLabs Logo" ) %>
        </a>
        </p>
      </div>
   </div>
   <div class="medium-3 large-2 column">
      <div class="decidim-logo">
        <a rel="decidim" 
           href="https://decidim.org/" 
           target="_blank" rel="noopener">
          <%= image_tag("decidim/decidim-logo.svg", alt: "Decidim Logo" ) %>
        </a>
      </div>
    </div>
  </div>
</div>
